/** pipelines express the wikipedia nine tab document snap's languages **/
.map-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

}
#files {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#files img {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#files div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


